// color
$color-primary: #0064FF;
$color-lightblue: #E8EDFC;
$color-white: #FFFFFF;
$color-lightred: #E9E9E9;
$color-black: #181818;
$color-lightgrey: #FBFBFB;
$color-grey: #909090;
$color-darkgrey: #656565;
$color-lightpink: #FCF6EE;
$color-lightmud: #E9F2E7;