@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text-bold {
    color: $color-black;
    font-weight: $font-bold;
}

@mixin textbold-medium {
    color: $color-black;
    font-weight: $font-medium;
}

@mixin container-padding {
    padding: 0 100px;
}

@mixin title-margin {
    margin: 70px 0;
}