@use 'src/styles' as *;
.heading1 {
    font-size: $text-64;
    text-align: center;
    letter-spacing: -0.04em;
    @include text-bold;
}

.heading2 {
    font-size: $text-40;
    letter-spacing: none;
    @include text-bold;
}

.heading3 {
    font-size: $text-xl;
    @include text-bold;
}

.caption {
    font-size: $text-16;
    @include text-bold;
}

.paragraph {
    color: $color-grey;
    line-height: 1.4;
}

.subheading {
    color: $color-grey;
    font-size: $text-lg;
    text-align: center;
}